body,html{
	margin:0px;
	padding:0px;
	background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    height:100%;
}

.pageHeader{
	width:100%;
	height:50px;
	box-shadow: 0 0 5px #333;
}

.page_content{
	width:100%;
	height:100%;
}

.side_nav{
	clear:left;
	float:left;
	width:225px;
	height:100%;
	background:#3D3D3D;
	padding-top:10px;
}

.togglerWrapper{
	width:100%;
	height:50px;
}

#main_navi_tree .abn-tree-row a{
	color:#ccc;
	border-radius: 0px;
}
#main_navi_tree .abn-tree-row a:hover, #main_navi_tree .abn-tree-row a:focus{
	background-color:#999;
}

#main_navi_tree .abn-tree-row{
	position: relative;
}

#main_navi_tree .abn-tree-row .selected{
	display: block;
	width: 8px;
	height: 25px;
	background-image: url("../images/sidebar-menu-arrow.png");
	float: right;
	position: absolute;
	right: 0px;
	top: 0px;
}

.main_content{
	height:100%;
	width:auto;
	float:right;
	margin-left:-225px;
	padding-top:10px;
	padding-left:10px;
	overflow:scroll;
}

.sidebar-toggler{
	cursor: pointer;
	opacity: 0.5;
	float:right;
	filter: alpha(opacity=50);
	margin-top: 15px;
	margin-right: 8px;
	width: 24px;
	height: 24px;
	background-color: #242424;
	line-height:24px;
	text-align:center;
	color:#00A7E5;
	font-size:16px;
	clear:left;
	border-radius:12px;
	padding-right: 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 10px 10px rgba(255, 255, 255, 0.1) inset;
}

.sidebar-toggler:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}

.sm_sider_menu,.sm_sider_submenu,.sm_sider_thirdmenu{
	list-style: none;
	margin:0;
	padding:0;
}

.sm_sider_menu{
	display: block;
	margin: 0;
	padding: 0;
	border: 0px;
}

.sm_sider_menu > li{
	height:40px;
	position: relative;
	cursor: pointer;
}

.sm_sider_menu > li span{
	width:100%;
	height:100%;
	color:#f5f5f5;
	font-size:20px;
	text-align:center;
	line-height:40px;
}

.sm_sider_menu > li span a:hover{
	text-decoration:none;
}

.sm_sider_submenu{
	width:200px;
	display: none;
	margin-left:40px;
	box-shadow: 0 1px 5px #CCC;
	background:#666;
	top:-40px;
	position: relative;
	z-index:9999;
}

.sm_sider_submenu li{
	position: relative;
	width:200px;
	line-height: 34px;
	color:#f3f3f3;
	font-size:12px;
	padding:0px 10px 0px 10px;
}

.sm_sider_submenu .menu_title{
	background:#333;
	font-weight: 700;
	box-shadow: 1px 0px 5px #666;
}

.sm_sider_submenu li span{
	font-size: 12px;
}

.sm_sider_menu > li:hover{
	background:#D4D4D4;	
}

.sm_sider_menu > li:hover [class="sm_sider_submenu"] {
	display: block;
}

.sm_sider_submenu > li, .sm_sider_thirdmenu > li{
	color:#f3f3f3;
}

.sm_sider_submenu > li:hover, .sm_sider_thirdmenu > li:hover{
	background:#D4D4D4;
	border-left:3px #1D7AD9 solid;
}

.sm_sider_submenu li a, .sm_sider_thirdmenu li a{
	color:inherit;
	display:block;
	width:100%;
	height:100%;
	text-align:left;
}

.sm_sider_submenu li a:hover, .sm_sider_thirdmenu li a:hover{
	color:#1D7AD9;
	display:block;
	width:100%;
	height:100%;
	text-align:left;
}

.sm_sider_thirdmenu{
	position: absolute;
	left:197px;
	width:200px;
	display:none;
	background:#333333;
	top:0px;
	z-index:9999;
}

.sm_sider_thirdmenu li{
	height:40px;
	line-height: 35px;
}

.sm_sider_thirdmenu li span{
	font-size:12px;
}

.sm_sider_submenu > li:hover [class="sm_sider_thirdmenu"]{
	display:block;
}

.page-header{
	height:50px;
	
}

.page-header h1{
	font-size:22px;
	padding:10px 0px 10px 10px;
	margin:0px;
}

.page-favor-icon{
	font-size:20px;
	color:#F39F0B;
	cursor:pointer;
	margin-left:10px;
}


.confirm-Ctrl{
	
}

.confirm-Ctrl .okBtn{
	margin-left:10px;
}